.codenomad/
sample_code/

instances/**/*
!instances/**/.gitkeep

*.db
*.db-shm
*.db-wal
*.exe
*.exe~
*.dll
*.ocx
*.oca
*.pdb
*.tlb
*.mdb
*.ldb
*.zip
*.pdf
*.pfx
test-screenshots/
agent-*.md
*.bak
db_backup/
logs/
.opencode/
